[submodule "circomlib"]
	path = circomlib
	url = https://github.com/iden3/circomlib.git
[submodule "verifierWrapper/lib/forge-std"]
	path = verifierWrapper/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
